<!-- todo_list/todo_app/templates/todo_app/index.html -->

{% extends "base.html" %}
{% block content %}
<!--index.html-->
{% if object_list %}
<h3> All my lists</h3>
<form method="GET" action="{% url 'todo_app:index' %}">
    <input type="text" name="q" placeholder="Search Lists..." value="{{ request.GET.q }}">
    <button type="submit">Search</button>
</form>
{% endif %}

<ul>
    {% for todolist in object_list %}
    <li>
        <div>
            <a href='{% url "todo_app:list" todolist.id %}'>{{todolist.title}} </a>
        </div>
    </li>
    {% empty %}
    <h4>You have no lists!</h4>
    {% endfor %}
</ul>
<p>
    <input
        value="Add a new list"
        type="button"
        onclick="location.href='{% url "todo_app:list-add" %}'"
    />
</p>

{% endblock %}

